* {
  margin: 0;
  padding: 0;
  font-family: "Itim", Monospace;
  letter-spacing: -1px;
  box-sizing: border-box;
}

.card {
  justify-items: center;
  text-align: center;
  margin-top: 50px;
}

.card img {
  justify-content: center;
  align-items: center;
  image-orientation: flip;
  height: 30px;
  width: 30px;
}

.imgbg {
  margin-top: 25px;
}

.wallpaperbg {
  margin-top: 25px;
  justify-items: center;
  text-align: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.textinimg {
  margin-top: -100px;
  padding: 160px 22px 36px 22px;
  text-align: center;
}

.imgbg .textinimg .wallpapertext {
  margin-top: 10px;
}

.mainwal {
  margin: 0 auto;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wallpapertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wallpapertest {
  background-image: url(img/background.jpg);
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 5px;
  background-image: linear-gradient(rgba(0, 8, 51, 0.1), rgba(0, 8, 51, 0.9)),
    url(img/BGMAIN.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #cac7ff;
}

::placeholder {
  color: #cac7ff;
}
.search-bar button img {
  width: 25px;
}
.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
}

.Floattext {
  margin-top: -100px;
  background-size: 100% 180%;
  padding: 160px 22px 36px 22px;
  margin-left: 70px;
}

.TextFloat {
  margin-left: -80px;
  position: relative;
  top: 500px;
  color: aliceblue;
  text-align: center;
}

.Keyword{
  margin-top: -450px;
  margin-left: 700px;
  color: white;
  font-size: xx-large;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(28, 59, 101);
  color: white;
  text-align: center;
}